*1.1* **Basic SQL Queries**

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to the SQLite database

conn =  sqlite3.connect("../database/db.sqlite3")

# Create a cursor object
cursor = conn.cursor()

In [3]:
query = "SELECT * FROM employee;"
result = pd.read_sql(query, conn)
print(result)

   id         name                  email  role_id  department_id   hire_date
0   1     John Doe     john.doe@gmail.com        1              1  2020-01-01
1   3  Bob Johnson  bob.johnson@gmail.com        3              3  2020-03-01
2   4      N Chaki      N.chaki@gmail.com        1              1  2018-01-21
3   5     SK Setua       sks123@gmail.com        1              1  2010-01-21
4   6     R.k Paul    rajatpaul@gmail.com        2              1  2008-05-12

In [4]:
query = "SELECT name from employee WHERE department_id = 1;"
result = pd.read_sql(query, conn)
print(result)

       name
0  John Doe
1   N Chaki
2  SK Setua
3  R.k Paul

In [5]:
insert_query =f'''INSERT INTO employee (name,email,role_id,department_id,hire_date)
            VALUES ("R.k Paul","paulrajat34@gmail.com", 2, 1, "2008-05-12");
'''

try:
    cursor.execute(insert_query)
    conn.commit()
    print("Data inserted successfully.")
except sqlite3.IntegrityError as e:
    print(f"IntegrityError: {e}")
# Fetch and display the inserted data
result = pd.read_sql("SELECT * FROM employee", conn)
print(result)

Data inserted successfully.
   id         name                  email  role_id  department_id   hire_date
0   1     John Doe     john.doe@gmail.com        1              1  2020-01-01
1   3  Bob Johnson  bob.johnson@gmail.com        3              3  2020-03-01
2   4      N Chaki      N.chaki@gmail.com        1              1  2018-01-21
3   5     SK Setua       sks123@gmail.com        1              1  2010-01-21
4   6     R.k Paul    rajatpaul@gmail.com        2              1  2008-05-12
5   7     R.k Paul  paulrajat34@gmail.com        2              1  2008-05-12

In [6]:
# Retrieve specific data from the employee table
specific_query = "SELECT name, email FROM employee ;"
result = pd.read_sql(specific_query, conn)
print(result)

          name                  email
0     John Doe     john.doe@gmail.com
1  Bob Johnson  bob.johnson@gmail.com
2      N Chaki      N.chaki@gmail.com
3     SK Setua       sks123@gmail.com
4     R.k Paul    rajatpaul@gmail.com
5     R.k Paul  paulrajat34@gmail.com

In [ ]:
# use filter to retrieve specific data
filter_query = "SELECT name, email FROM employee WHERE role_id = 1;"
result = pd.read_sql(filter_query, conn)
print(result)

       name               email
0  John Doe  john.doe@gmail.com
1   N Chaki   N.chaki@gmail.com
2  SK Setua    sks123@gmail.com

In [26]:
# Update - modify existing data
update_query = "UPDATE employee SET email = 'rajatpaul@gmail.com' WHERE name = 'R.k Paul';"
cursor.execute(update_query)
conn.commit()
print("Data updated successfully.")

Data updated successfully.

In [29]:
# DELETE - Removing Data

delete_query = "DELETE FROM employee WHERE name = 'Jane Smith';"
cursor.execute(delete_query)
conn.commit()
print("Data deleted successfully.")

Data deleted successfully.


*1.2* **Let`s understand use of sorting**

In [ ]:
role_table_query = f'''
                    SELECT * from role
                    '''
role_table_result = pd.read_sql(role_table_query, conn)
print(role_table_result)

   id          title  salary
0   1            HOD   80000
1   2      Professor   70000
2   3       Lecturer   50000
3   4  Lab Assistant   30000
4   5      Registrar   60000
   id          title  salary
0   1            HOD   80000
1   2      Professor   70000
2   5      Registrar   60000
3   3       Lecturer   50000
4   4  Lab Assistant   30000

In [ ]:
# Sorting by salary in Descending order
sort_query = "SELECT * FROM role ORDER BY salary DESC;"
result = pd.read_sql(sort_query, conn)
print(result)

   id          title  salary
0   1            HOD   80000
1   2      Professor   70000
2   5      Registrar   60000
3   3       Lecturer   50000
4   4  Lab Assistant   30000

In [ ]:
# Sorting by salary in Ascending order
sort_query = "SELECT * FROM role ORDER BY salary ASC;"
result = pd.read_sql(sort_query, conn)
print(result)

   id          title  salary
0   4  Lab Assistant   30000
1   3       Lecturer   50000
2   5      Registrar   60000
3   2      Professor   70000
4   1            HOD   80000

In [13]:
# Sorting by title in Ascending order
sort_query = "SELECT * FROM role ORDER BY title ASC;"
result = pd.read_sql(sort_query, conn)
print(result)

# Sorting by title in Descending order
sort_query = "SELECT * FROM role ORDER BY title DESC;"
result = pd.read_sql(sort_query, conn)
print(result)

   id          title  salary
0   1            HOD   80000
1   4  Lab Assistant   30000
2   3       Lecturer   50000
3   2      Professor   70000
4   5      Registrar   60000
   id          title  salary
0   5      Registrar   60000
1   2      Professor   70000
2   3       Lecturer   50000
3   4  Lab Assistant   30000
4   1            HOD   80000

In [15]:
# Sorting by salary in Descending order and title in Ascending order
sort_query = "SELECT * FROM role ORDER BY salary ASC, title ASC;"
result = pd.read_sql(sort_query, conn)
print(result)

   id          title  salary
0   4  Lab Assistant   30000
1   3       Lecturer   50000
2   5      Registrar   60000
3   2      Professor   70000
4   1            HOD   80000


*1.3* **Let`s understand use of LIMIT** 
>> LIMIT is used to limit the number of rows returned in a query result.

>> useful to work with large datasets and to prevent overloading the system with too much data.

>> helpful for pagination and to retrieve a specific number of rows from a table.

In [17]:
# Limit the number of rows returned to 5
limit_query = "SELECT * FROM role LIMIT 2;"
result = pd.read_sql(limit_query, conn)
print(result)

   id      title  salary
0   1        HOD   80000
1   2  Professor   70000

In [19]:
#combine limit with order by
limit_query = "SELECT * FROM role ORDER BY salary ASC LIMIT 2;"
result = pd.read_sql(limit_query, conn)
print(result)

   id          title  salary
0   4  Lab Assistant   30000
1   3       Lecturer   50000

*1.4* **OFFSET**
> -  OFFSET is used to skip a specific number of rows in a query result. 
> - Useful to work with large datasets and to retrieve a specific range of rows from a table. 
> - Helpful for pagination and to retrieve a specific number of rows from a table.

In [25]:
# Skip the first page and retrieve the next 3 rows of next page
offset_query = "SELECT * FROM role LIMIT 3 OFFSET 3;"
result = pd.read_sql(offset_query, conn)
print(result)

   id          title  salary
0   4  Lab Assistant   30000
1   5      Registrar   60000