*2.1* **Improve database structure by learning keys , indexes**

**PRIMARY KEY** 
*example: id*
*usage:*
- unique identifier for each record
- must be unique
- can not be null
- can not be duplicate
- can not be changed
- can not be deleted

In [ ]:

-- CREATE TABLE
CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY,
                        name VARCHAR(100), 
                        email VARCHAR(100) 
                        );
-- here id is the primary key

**FOREIGN KEY** *example: product_id*
*usage:*
- used to link two tables together
- must be unique
- can not be null
- can not be duplicate
- can not be changed
- can not be deleted

In [ ]:
-- Product  TABLE
CREATE TABLE product (id INT AUTO_INCREMENT PRIMARY KEY,
                         product_name VARCHAR(100),
                         product_price DECIMAL(10,2),
                         product_description TEXT,
                         );

-- Order TABLE
CREATE TABLE orders (id INT AUTO_INCREMENT PRIMARY KEY,
                     customer_id INT,
                     product_id INT,
                     quantity INT,
                     order_date DATE,
                     FOREIGN KEY (customer_id) REFERENCES customers(id),
                     FOREIGN KEY (product_id) REFERENCES product(id)
                     );
-- here customer_id and product_id are the foreign keys

**INDEX** *example: name*
*usage:*
- used to improve the performance of the database
- can be unique or non-unique
- can be null
- can be duplicate
- can be changed
- can be deleted

**Scenario example**:
- if we have a table of customers and we want to search for a customer by name, we can create an index on the name column to improve the performance of the search query.

**how it works**:
- when we create an index on a column, the database engine creates a separate data structure that stores the values of the column in a sorted order.
- when we perform a search query, the database engine uses the index to quickly locate the values that match the search criteria.

In [ ]:
-- CREATE INDEX
CREATE INDEX idx_name ON customers(name);
-- here idx_name is the index on the name column of the customers table

*2.2* **Understanding Normalization (1NF, 2NF, 3NF, BCNF)**

>We have created table - students , courses, enrollments and course_assignments that follows the Normalization rules.

In [1]:
# Connect to the SQLite database
import sqlite3
import pandas as pd

conn =  sqlite3.connect("../database/db.sqlite3")

# Create a cursor object
cursor = conn.cursor()

In [2]:
# Insert data into the students table
insert_query = '''
INSERT INTO students (name, email, address, date_of_birth, department_id)
VALUES ("Alice Wonderland", "alice@example.com", "123 Fantasy Lane", "2000-01-01", 1);
'''

try:
    cursor.execute(insert_query)
    conn.commit()
    print("Student data inserted successfully.")
except sqlite3.IntegrityError as e:
    print(f"IntegrityError: {e}")

# Fetch and display the inserted student data
student_result = pd.read_sql("SELECT * FROM students", conn)
print(student_result)

Student data inserted successfully.
   student_id              name              email           address  \
0           1  Alice Wonderland  alice@example.com  123 Fantasy Lane

  date_of_birth  department_id
0    2000-01-01              1

In [3]:
# Insert multiple students
students_data = [
    ("Aishwarya Sharma", "aishwarya.sharma@example.com", "10 MG Road, Bangalore", "2001-05-15", 1),
    ("Rahul Kumar", "rahul.kumar@example.com", "22 Park Street, Kolkata", "2002-08-20", 2),
    ("Priya Patel", "priya.patel@example.com", "45 Linking Road, Mumbai", "2000-11-10", 3),
    ("Vikram Singh", "vikram.singh@example.com", "78 Chandni Chowk, Delhi", "2003-03-25", 1),
    ("Sneha Reddy", "sneha.reddy@example.com", "90 Jubilee Hills, Hyderabad", "2001-09-02", 2),
    ("Arjun Menon", "arjun.menon@example.com", "12 Kochi Backwaters, Kochi", "2002-12-18", 3),
    ("Deepika Chatterjee", "deepika.chatterjee@example.com", "15 Shanti Niketan, Bolpur", "2000-06-30", 1),
]

try:
    cursor.executemany('''
        INSERT INTO students (name, email, address, date_of_birth, department_id)
        VALUES (?, ?, ?, ?, ?)
    ''', students_data)
    conn.commit()
    print("Multiple students inserted successfully.")
except sqlite3.IntegrityError as e:
    print(f"IntegrityError: {e}")

# Fetch and display the inserted student data
student_result = pd.read_sql("SELECT * FROM students", conn)
print(student_result)

Multiple students inserted successfully.
   student_id                name                           email  \
0           1    Alice Wonderland               alice@example.com
1           2    Aishwarya Sharma    aishwarya.sharma@example.com
2           3         Rahul Kumar         rahul.kumar@example.com
3           4         Priya Patel         priya.patel@example.com
4           5        Vikram Singh        vikram.singh@example.com
5           6         Sneha Reddy         sneha.reddy@example.com
6           7         Arjun Menon         arjun.menon@example.com
7           8  Deepika Chatterjee  deepika.chatterjee@example.com

                       address date_of_birth  department_id
0             123 Fantasy Lane    2000-01-01              1
1        10 MG Road, Bangalore    2001-05-15              1
2      22 Park Street, Kolkata    2002-08-20              2
3      45 Linking Road, Mumbai    2000-11-10              3
4      78 Chandni Chowk, Delhi    2003-03-25              1
5  90 Jubilee Hills, Hyderabad    2001-09-02              2
6   12 Kochi Backwaters, Kochi    2002-12-18              3
7    15 Shanti Niketan, Bolpur    2000-06-30              1

In [ ]:
# Insert  student phone numbers
student_phones_data = [
    (1, "9876543210"),  
    (1, "9876543210"),  
    (5, "8765432109"),
    (2, "7654321098"),  
    (3, "6543210987"),  
    (4, "5432109876"),  
    (5, "4321098765"),  
    (6, "3210987654"),  
    (7, "2109876543"),  
    (2, "1234567890"),  
]

'''
In the above example student_id one has multiple phone numbers 
'''
try:
    cursor.executemany('''
        INSERT INTO student_phones (student_id, phone_number)
        VALUES (?, ?)
    ''', student_phones_data)
    conn.commit()
    print("Multiple student phone numbers inserted successfully.")
except sqlite3.IntegrityError as e:
    print(f"IntegrityError: {e}")

# Fetch and display the inserted student phone numbers
student_phones_result = pd.read_sql("SELECT * FROM student_phones", conn)
print(student_phones_result)

Multiple student phone numbers inserted successfully.
    phone_id  student_id phone_number
0          1           1   9876543210
1          2           1   9876543210
2          3           1   8765432109
3          4           2   7654321098
4          5           3   6543210987
5          6           4   5432109876
6          7           5   4321098765
7          8           6   3210987654
8          9           7   2109876543
9         10           2   1234567890
10        11           1   9876543210
11        12           1   9876543210
12        13           5   8765432109
13        14           2   7654321098
14        15           3   6543210987
15        16           4   5432109876
16        17           5   4321098765
17        18           6   3210987654
18        19           7   2109876543
19        20           2   1234567890

In [ ]:
# Insert data into the courses table (corrected)
courses_data = [
    (1, "Introduction to Computer Science"),
    (2, "Advanced Mathematics"),
    (3, "Physics I: Mechanics"),
    (4, "Chemistry: Organic Chemistry"),
    (5, "Biology: Cell Biology"),
    (6, "Database Management Systems"),
    (7, "Software Engineering"),
    (8, "Data Structures and Algorithms"),
    (9, "Web Development") 
]
'''
To add more courses, remove existing ones first and 
then add new course_name to the courses_data list.
'''

try:
    cursor.executemany('''
        INSERT INTO courses (course_id, course_name)
        VALUES (?, ?)
    ''', courses_data)
    conn.commit()
    print("Courses inserted successfully.")
except sqlite3.IntegrityError as e:
    print(f"IntegrityError: {e}")
except sqlite3.ProgrammingError as e:
    print(f"ProgrammingError: {e}") #added a programming error catch.

# Fetch and display the inserted course data
courses_result = pd.read_sql("SELECT * FROM courses", conn)
print(courses_result)

IntegrityError: UNIQUE constraint failed: courses.course_id
   course_id                       course_name
0          1  Introduction to Computer Science
1          2              Advanced Mathematics
2          3              Physics I: Mechanics
3          4      Chemistry: Organic Chemistry
4          5             Biology: Cell Biology
5          6       Database Management Systems
6          7              Software Engineering
7          8    Data Structures and Algorithms
8          9                   Web Development

In [12]:
# Insert multiple enrollments
enrollments_data = [
    (1, 1, "2023-10-25"),   
    (1, 2, "2024-02-01"),   
    (2, 3, "2023-10-26"),   
    (3, 1, "2023-10-27"),  
    (4, 4, "2024-04-10"),
    (5, 5, "2023-10-28"),
    (6, 6, "2023-10-29"),
    (7, 7, "2023-10-29"),
    (2, 1, "2025-01-04"), 
]

try:
    cursor.executemany('''
        INSERT INTO enrollments (student_id, course_id, enrollment_date)
        VALUES (?, ?, ?)
    ''', enrollments_data)
    conn.commit()
    print("Enrollments inserted successfully.")
except sqlite3.IntegrityError as e:
    print(f"IntegrityError: {e}")

# Fetch and display the inserted enrollments
enrollments_result = pd.read_sql("SELECT * FROM enrollments", conn)
print(enrollments_result)

Enrollments inserted successfully.
   enrollment_id  student_id  course_id enrollment_date
0              1           1          1      2023-10-25
1              2           1          2      2024-02-01
2              3           2          3      2023-10-26
3              4           3          1      2023-10-27
4              5           4          4      2024-04-10
5              6           5          5      2023-10-28
6              7           6          6      2023-10-29
7              8           7          7      2023-10-29
8              9           2          1      2025-01-04